<div class="course-card" [ngClass]="cardClasses()">
  <div class="course-title">
    {{ course.description }}
  </div>

  <course-image
    [src]="course.iconUrl"
    *ngIf="course.iconUrl; else eerr"
  ></course-image>
  <ng-container #eerr>
    <ng-container
      *ngTemplateOutlet="noImgTpl; context: { description: course.description }"
    ></ng-container>
  </ng-container>

  <!-- <ng-template #noImgTpl></ng-template> -->
  <!-- @if (course.iconUrl) {
  <course-image [src]="course.iconUrl"></course-image>
  } @else {
  <ng-container
    *ngTemplateOutlet="noImgTpl; context: { description: course.description }"
  ></ng-container>
  } -->

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <div class="course-category">
    @switch (course.category) { @case ("BEGINNER") {
    <div class="category">Beginner</div>
    } @case ("INTERMEDIATE") {
    <div class="category">Intermediate</div>
    } @case ("ADVANCED") {
    <div class="category">Advanced</div>
    } @default {
    <div class="category">Unkown</div>
    } }
  </div>

  <button (click)="onViewCourse(course.id)">View Course</button>
</div>
